.footer {
  background-color: #24a86a;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.footer div {
  flex: 1;
  padding: 50px;
}

.footer .contact-info {
  text-align: right;
}

.footer .social-info {
  text-align: right;
  justify-items: center;
}

.footer .about {
  text-align: right;
}

.footer img {
  max-width: 120px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  background-color: #1d8050;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer .social-info {
    justify-items: right;
  }
}
